<a href="https://colab.research.google.com/github/saikirsh/python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating a Function

In [ ]:
#Calling a Function
def x():
  print("sai krishna")

x()

sai krishna

In [ ]:
#Arguments
def x(fname):
  print(fname + " potluri")

x("sai")
x("krishna")
x("pradeep")

sai potluri
krishna potluri
pradeep potluri

In [ ]:
#Number of Arguments
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("sai", "potluri")

sai potluri

In [ ]:
#Arbitrary Arguments
#*args
def x(*students):
  print("The wastefellow in the class " + students[2])

x("vivek", "sai", "praneeth")

The wastefellow in the class praneeth

In [ ]:
#Keyword Arguments
def x(student1, student2, student3):
  print("The good student is " + student3)

x(student1 = "sai", student2 = "sheshu",student3= "praneeth")

The good student is praneeth

In [ ]:
#Arbitrary Keyword Arguments
# **kwargs
def x(**stu):
  print("The wastefellow in the cls " + stu["lname"])
x(fname = "sai", lname = "praneeth")

The wastefellow in the cls praneeth

In [ ]:
def x(**stu):
  print("The Topper in the cls " + stu["fname"])
x(fname = "sai", lname = "praneeth")

The Topper in the cls sai

In [ ]:
#Default Parameter Value
def x(roomno = "840"):
  print("My room no is " + roomno)

x("706")
x("707")
x()
x("828")
x("638")

My room no is 706
My room no is 707
My room no is 840
My room no is 828
My room no is 638

In [ ]:
#Passing a List as an Argument
def x(food):
  for x in food:
    print(x)

Drinks = ["pepsi", "spirit", "thumpsup"]

x(Drinks)

pepsi
spirit
thumpsup

In [ ]:
#Return Values
def x(Y):
  return 10 + Y

print(x(59))
print(x(69))
print(x(60))

69
79
70

In [ ]:
#The pass Statement
def x():
  pass

In [16]:
age = 20

if age>=18:
        status="Eligible"
else:
    status="Not Eligible"

print("You are ",status," for Vote.")

You are  Eligible  for Vote.