<a href="https://colab.research.google.com/github/saikirsh/python/blob/main/quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# largest amoung 3 numbers 
a=5
b=3
c=2
if  a>b and a>c :
  print(a)
elif  b>a and b>c :
  print(b)
else : 
  print (c)

5

In [9]:
#Find out the square root of the number
number = int(input())
sqrt = number ** 0.5
print(sqrt)

5
2.23606797749979

In [10]:
#Add Black color to the given list in the 4th place.

 #Rainbow = ['Red', 'Orange', 'Yellow', 'Green'] 

Rainbow =  ['Red', 'Orange', 'Yellow', 'Green']
Rainbow.insert (3,"Black")
print(Rainbow)

['Red', 'Orange', 'Yellow', 'Black', 'Green']

In [11]:
#Write a program of swapping of two numbers 

a=2
b=3
a=a+b
b=a-b
a=a-b
print("Result =",a,b)

Result = 3 2

In [12]:
fruit=["apple","mango","muskmelon"]
print(fruit)

['apple', 'mango', 'muskmelon']

In [15]:
fruit=["apple","mango","muskmelon"]
print(len(fruit))

3

In [17]:
fruit = ["apple", "banana", "cherry"]
num = [1, 5, 7, 9, 3]
list = [True, False, False]

print(fruit)
print(num)
print(list)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [18]:
list = ["abc", 34, True, 43, "cba"]

print(list)

['abc', 34, True, 43, 'cba']

In [19]:
fruit = ["apple", "banana", "cherry"]

print(type(fruit))

<class 'list'>